<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <!-- 系统权限设置 -->
    <!-- 监听系统网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 监听系统开机权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 拨打电话权限（危险级别权限：需运行时授权） -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取联系人权限（危险级别权限：需运行时授权） -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写入联系人权限（危险级别权限：需运行时授权） -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 读写SD卡内容权限（另外在4.4系统之前访问应用关联目录也需要申请此权限） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Android四大组件注册：Activity，Broadcast Receiver，Service，Content Provider -->
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HelloWorld"
            android:label="@string/title_hello_world" />
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_first_activity"
            android:launchMode="standard" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_second_activity"
            android:launchMode="singleInstance">
            <intent-filter> <!-- 隐式Intent响应 -->
                <action android:name="START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="SEC_ACT" />

                <data android:scheme="http" /> <!-- 此处严格限制Intent中setData所带的数据的协议部分必须为http开头，否则不与响应 -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_third_activity"
            android:launchMode="singleTask" />

        <!-- BaseAdapter Demo -->
        <activity
            android:name="com.example.Adapter.BaseAdapterDemo"
            android:label="@string/title_base_adapter" />

        <!-- Widget Demo -->
        <service android:name="com.example.Widget.WidgetService" />

        <receiver android:name="com.example.Widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetconfig" />
        </receiver>

        <!-- RecyclerView Demo -->
        <activity
            android:name="com.example.RecyclerView.RecyclerViewDemo"
            android:label="@string/title_recycler_view" />

        <!-- UIBestPractice 简易聊天界面 -->
        <activity
            android:name="com.example.BestPractice.UIBestPractice.UIBestPractice"
            android:label="@string/title_ui_best_practice" />

        <!-- Fragment Demo -->
        <activity
            android:name="com.example.Fragment.FragmentDemo"
            android:label="@string/title_fragment_demo" />
        <activity
            android:name="com.example.Fragment.FragmentStaticLoad"
            android:label="@string/title_fragment_static_load" />
        <activity
            android:name="com.example.Fragment.FragmentDynamicLoad"
            android:label="@string/title_fragment_dynamic_load" />
        <activity
            android:name="com.example.Fragment.FragmentLifeCycle"
            android:label="@string/title_fragment_life_cycle" />
        <activity
            android:name="com.example.Fragment.FragmentCommActivity"
            android:label="@string/title_fragment_comm_activity" />

        <!-- FragmentBestPractice 横竖屏切换不同界面的新闻应用 -->
        <activity
            android:name="com.example.BestPractice.FragmentBestPractice.FragmentBestPractice"
            android:label="@string/title_fragment_best_practice" />

        <activity
            android:name="com.example.BestPractice.FragmentBestPractice.NewsContentActivity"
            android:label="@string/title_news_content_activity" />

        <!-- Broadcast Demo -->
        <activity
            android:name="com.example.Broadcast.BroadcastDemo"
            android:label="@string/title_broadcast_demo" />

        <!-- 系统开机广播接收器（静态注册） -->
        <receiver
            android:name="com.example.Broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Broadcast Send -->
        <activity
            android:name="com.example.Broadcast.BroadcastSendDemo"
            android:label="@string/title_broadcast_send_demo"></activity>

        <!-- 标准广播接收 -->
        <receiver
            android:name="com.example.Broadcast.NormalBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcast.NORMAL_BROADCAST" />
            </intent-filter>
        </receiver>

        <!-- 有序广播接收1 -->
        <receiver
            android:name="com.example.Broadcast.OrderBroadcastReceiver1"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.broadcast.ORDER_BROADCAST" />
            </intent-filter>
        </receiver>

        <!-- 有序广播接收2 -->
        <receiver
            android:name="com.example.Broadcast.OrderBroadcastReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="200"> <!-- 优先级高的先接收广播 -->
                <action android:name="com.example.broadcast.ORDER_BROADCAST" />
            </intent-filter>
        </receiver>

        <!-- BroadcastBestPractice 强制下线功能 -->
        <activity
            android:name="com.example.BestPractice.BroadcastBestPractice.LoginActivity"
            android:label="@string/title_activity_login"></activity>

        <activity
            android:name="com.example.BestPractice.BroadcastBestPractice.MainActivity"
            android:label="@string/title_activity_main"></activity>

        <!-- save data to file -->
        <activity
            android:name="com.example.DataStore.File.FileOutput"
            android:label="@string/title_file_output">
        </activity>

        <!-- load data from file -->
        <activity
            android:name="com.example.DataStore.File.FileInput"
            android:label="@string/title_file_input">
        </activity>

        <!-- save data to SharedPreferences -->
        <activity
            android:name="com.example.DataStore.SharedPreferences.SharedPrefsOutput"
            android:label="@string/title_shared_prefs_output">
        </activity>

        <!-- load data from SharedPreferences -->
        <activity
            android:name="com.example.DataStore.SharedPreferences.SharedPrefsInput"
            android:label="@string/title_shared_prefs_input">
        </activity>

        <!-- save password via SharedPreferences -->
        <activity
            android:name="com.example.DataStore.SharedPreferences.SavePassword"
            android:label="@string/title_save_password"></activity>

        <!-- SQLite Demo -->
        <activity
            android:name="com.example.DataStore.SQLite.SQLiteDemo"
            android:label="@string/title_sqlite_demo">
        </activity>

        <!-- LitePal Demo -->
        <activity
            android:name="com.example.DataStore.LitePal.LitePalDemo"
            android:label="@string/title_litepal_demo">
        </activity>

        <!-- 运行时权限授权 -->
        <activity
            android:name="com.example.ContentProvider.RuntimePermission"
            android:label="@string/title_runtime_permission"></activity>

        <!-- 读取/写入联系人 -->
        <activity
            android:name="com.example.ContentProvider.Contacts"
            android:label="@string/title_contacts">
        </activity>

        <provider
            android:name="com.example.ContentProvider.DatabaseProvider"
            android:authorities="com.example.helloworld.provider"
            android:enabled="true"
            android:exported="true">
        </provider>

        <!-- Notification（通知）-->
        <activity
            android:name="com.example.MultiMedia.NotificationDemo"
            android:label="@string/title_notification_demo">
        </activity>

        <!-- Camera 调用摄像头拍照 -->
        <activity
            android:name="com.example.MultiMedia.CameraAlbum"
            android:label="@string/title_camera_album">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.helloworld.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- 指定Uri的共享路径 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- 播放音频文件 -->
        <activity
            android:name="com.example.MultiMedia.PlayAudio"
            android:label="@string/title_play_audio">
        </activity>
        <!-- 播放视频文件 -->
        <activity
            android:name="com.example.MultiMedia.PlayVideo"
            android:label="@string/title_play_video">
        </activity>

        <!-- WebView 简易嵌入式浏览器Demo-->
        <activity
            android:name="com.example.HttpConnection.WebViewDemo"
            android:label="@string/title_web_view_demo">
        </activity>

        <!-- 使用HttpURLConnection发送HTTP请求 -->
        <activity
            android:name="com.example.HttpConnection.HttpURLConnectionDemo"
            android:label="@string/title_http_url_connection">
        </activity>

        <!-- 使用OkHttp发送HTTP请求 -->
        <activity
            android:name="com.example.HttpConnection.OkHttpDemo"
            android:label="@string/title_ok_http">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>