<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <!-- 系统权限设置 -->
    <!-- 监听系统网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 监听系统开机权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Android四大组件注册：Activity，Broadcast Receiver，Service，Content Provider -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HelloWorld"
            android:label="@string/title_hello_world" />
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_first_activity"
            android:launchMode="standard" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_second_activity"
            android:launchMode="singleInstance">
            <intent-filter> <!-- 隐式Intent响应 -->
                <action android:name="START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="SEC_ACT" />

                <data android:scheme="http" /> <!-- 此处严格限制Intent中所带的数据的协议部分必须为http开头，否则不与响应 -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_third_activity"
            android:launchMode="singleTask" />

        <!-- BaseAdapter Demo -->
        <activity
            android:name="com.example.Adapter.BaseAdapterDemo"
            android:label="@string/title_base_adapter" />

        <!-- Widget Demo -->
        <service android:name="com.example.Widget.WidgetService" />

        <receiver android:name="com.example.Widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetconfig" />
        </receiver>

        <!-- RecyclerView Demo -->
        <activity
            android:name="com.example.RecyclerView.RecyclerViewDemo"
            android:label="@string/title_recycler_view" />

        <!-- UIBestPractice 简易聊天界面 -->
        <activity
            android:name="com.example.BestPractice.UIBestPractice.UIBestPractice"
            android:label="@string/title_ui_best_practice" />

        <!-- Fragment Demo -->
        <activity
            android:name="com.example.Fragment.FragmentDemo"
            android:label="@string/title_fragment_demo" />
        <activity
            android:name="com.example.Fragment.FragmentStaticLoad"
            android:label="@string/title_fragment_static_load" />
        <activity
            android:name="com.example.Fragment.FragmentDynamicLoad"
            android:label="@string/title_fragment_dynamic_load" />
        <activity
            android:name="com.example.Fragment.FragmentLifeCycle"
            android:label="@string/title_fragment_life_cycle" />
        <activity
            android:name="com.example.Fragment.FragmentCommActivity"
            android:label="@string/title_fragment_comm_activity" />

        <!-- FragmentBestPractice 横竖屏切换不同界面的新闻应用 -->
        <activity
            android:name="com.example.BestPractice.FragmentBestPractice.FragmentBestPractice"
            android:label="@string/title_fragment_best_practice" />
        <activity
            android:name="com.example.BestPractice.FragmentBestPractice.NewsContentActivity"
            android:label="@string/title_news_content_activity" />

        <!-- Broadcast Demo -->
        <activity
            android:name="com.example.Broadcast.BroadcastDemo"
            android:label="@string/title_broadcast_demo" />

        <!-- 系统开机广播接收器（静态注册） -->
        <receiver
            android:name="com.example.Broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Broadcast Send -->
        <activity
            android:name="com.example.Broadcast.BroadcastSendDemo"
            android:label="@string/title_broadcast_send_demo">
        </activity>

        <!-- 标准广播接收 -->
        <receiver
            android:name="com.example.Broadcast.NormalBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcast.NORMAL_BROADCAST" />
            </intent-filter>
        </receiver>
        <!-- 有序广播接收1 -->
        <receiver
            android:name="com.example.Broadcast.OrderBroadcastReceiver1"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.broadcast.ORDER_BROADCAST" />
            </intent-filter>
        </receiver>
        <!-- 有序广播接收2 -->
        <receiver
            android:name="com.example.Broadcast.OrderBroadcastReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="200">  <!-- 优先级高的先接收广播 -->
                <action android:name="com.example.broadcast.ORDER_BROADCAST" />
            </intent-filter>
        </receiver>

        <!-- BroadcastBestPractice 强制下线功能 -->
        <activity
            android:name="com.example.BestPractice.BroadcastBestPractice.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name="com.example.BestPractice.BroadcastBestPractice.MainActivity"
            android:label="@string/title_activity_main">
        </activity>

        <!-- save data to file -->
        <activity
            android:name="com.example.DataStore.File.FileOutput"
            android:label="@string/title_file_output">
        </activity>
        <!-- load data from file -->
        <activity
            android:name="com.example.DataStore.File.FileInput"
            android:label="@string/title_file_input">
        </activity>

        <!-- save data to SharedPreferences -->
        <activity
            android:name="com.example.DataStore.SharedPreferences.SharedPrefsOutput"
            android:label="@string/title_shared_prefs_output">
        </activity>
        <!-- load data from SharedPreferences -->
        <activity
            android:name="com.example.DataStore.SharedPreferences.SharedPrefsInput"
            android:label="@string/title_shared_prefs_input">
        </activity>
        <!-- save password via SharedPreferences -->
        <activity
            android:name="com.example.DataStore.SharedPreferences.SavePassword"
            android:label="@string/title_save_password">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>